<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Matriz Detalle</title>
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>

<body>

	<p:panel class="header">
		<h:graphicImage library="img" name="logo.png" class="logo" />
		<p:commandButton value="Salir" class="boton salir"
			icon="ui-icon-extlink" />
	</p:panel>
	<div class="contenedor">
		<p:panel class="banner">
			<h:form>
				<p:growl id="messages" showDetail="false" />
				<p:panelMenu style="width:180px">
					<p:submenu label="Diligenciar">
						<p:menuitem value="Captura" icon="ui-icon-clock"
							url="../Capturas/Captura.jsf" />
					</p:submenu>
					<p:submenu label="Gestion">
						<p:menuitem value="Usuarios" ajax="false" icon="ui-icon-person"
							url="../Usuarios/Usuarios.jsf" />
						<p:menuitem value="Vertical" ajax="false"
							icon="ui-icon-arrowthick-2-n-s"
							url="../Verticales/Verticales.jsf" />
						<p:menuitem value="Proyectos" ajax="false" icon="ui-icon-suitcase"
							url="../Proyectos/Proyectos.jsf" />
						<p:menuitem value="Requerimientos" ajax="false"
							icon="ui-icon-circle-check"
							url="../Requerimientos/Requerimientos.jsf" />
						<p:menuitem value="Cliente" ajax="false" icon="ui-icon-contact"
							url="../Clientes/Cliente.jsf" />
							<p:menuitem value="Rol" ajax="false" icon="ui-icon-tag"
							url="../Rol/Rol.jsf" />
					</p:submenu>
					<p:separator />
					<p:submenu label="Consulta">
						<p:submenu label="Matriz" icon="ui-icon-script">

							<p:menuitem value="General" url="../Matriz/MatrizGeneral.jsf"
								icon="ui-icon-zoomout" />
							<p:menuitem value="Detalle" icon="ui-icon-zoomin" />

						</p:submenu>
					</p:submenu>
				</p:panelMenu>
			</h:form>
			<p:panel class="panel" header="Matriz Detalle"
				style="margin-bottom:20px">
				<!-- Contenido dentro del panel  -->
				
				<!-- filtros -->
				<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
					mask="true" placeholder="Fecha inicio..." />
				<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
					mask="true" placeholder="Fecha fin..." class="fechafin"/>
					<p:outputLabel for="cliente" value="Cliente: " />
				<p:selectOneMenu id="cliente" value="" effect="fold" editable="true" >
            <f:selectItem itemLabel="Bancolombia" itemValue="" />
            <f:selectItems value="" />
        </p:selectOneMenu>
				<p:commandButton value="Buscar" id="buscar" class="boton"
					icon="ui-icon-search" />

				<br />
				<p:dataTable class="tabla">
					<p:column headerText="Nombre">
						<h:outputText />
					</p:column>

					<p:column headerText="Apellido">
						<h:outputText />
					</p:column>

					<p:column headerText="Cargo">
						<h:outputText />
					</p:column>

					<p:column headerText="Vertical">
						<h:outputText />
					</p:column>
					<p:column headerText="Empresa">
						<h:outputText />
					</p:column>
				</p:dataTable>
			</p:panel>
		</p:panel>
	</div>
</body>

</html>