<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Usuarios</title>
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>

<body>
	<p:panel class="header">
		<h:graphicImage library="img" name="logo.png" class="logo" />
		<p:commandButton value="Salir" class="boton salir"
			icon="ui-icon-extlink" />
	</p:panel>
	<div class="contenedor">
		<p:panel class="banner">
			<h:form>
				<p:growl id="messages" showDetail="false" />
				<p:panelMenu style="width:180px">
					<p:submenu label="Diligenciar">
						<p:menuitem value="Captura" icon="ui-icon-clock"
							url="../Capturas/Captura.jsf" />
					</p:submenu>
					<p:submenu label="Gestion">
						<p:menuitem value="Usuarios" ajax="false" icon="ui-icon-person" />
						<p:menuitem value="Vertical" ajax="false"
							icon="ui-icon-arrowthick-2-n-s"
							url="../Verticales/Verticales.jsf" />
						<p:menuitem value="Proyectos" ajax="false" icon="ui-icon-suitcase"
							url="../Proyectos/Proyectos.jsf" />
						<p:menuitem value="Requerimientos" ajax="false"
							icon="ui-icon-circle-check"
							url="../Requerimientos/Requerimientos.jsf" />
						<p:menuitem value="Cliente" ajax="false" icon="ui-icon-contact"
							url="../Clientes/Cliente.jsf" />
							<p:menuitem value="Rol" ajax="false" icon="ui-icon-tag"
							url="../Rol/Rol.jsf" />
					</p:submenu>
					<p:separator />
					<p:submenu label="Consulta">
						<p:submenu label="Matriz" icon="ui-icon-script">

							<p:menuitem value="General" url="../Matriz/MatrizGeneral.jsf"
								icon="ui-icon-zoomout" />
							<p:menuitem value="Detalle" url="../Matriz/MatrizDetalle.jsf"
								icon="ui-icon-zoomin" />

						</p:submenu>
					</p:submenu>
				</p:panelMenu>
			</h:form>
			<p:panel class="panel" header="Usuarios" style="margin-bottom:20px">
				<!-- Contenido dentro del panel  -->
				<p:commandButton value="Nuevo" class="boton" id="Nuevo"
					icon="ui-icon-plus" onclick="PF('dlg3').show();" />
				<p:commandButton value="Editar" class="boton" id="Editar"
					icon="ui-icon-pencil" onclick="PF('dlg2').show();" />
				<p:commandButton value="Borrar" class="boton" id="Borrar"
					icon="ui-icon-closethick" onclick="PF('dlg1').show();" />
				<p:inputText style="margin-right:10px" class="buscar"
					placeholder="Buscar.." />
				<!-- Elementos Modal -->
				<!-- Formulario Nuevo -->
				<p:dialog header="Nuevo" widgetVar="dlg3" modal="true">
				<h:form class="formUsuarios">
					<p:inputText placeholder="Nombres" />
					&nbsp;
					<p:inputText placeholder="Apellidos" />
					<br />
					<p:outputLabel for="rol" value="Rol:" />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="rol" value="" effect="fold" editable="true">
						<f:selectItem itemLabel="vendedor" />
					</p:selectOneMenu>
					<br />
					<p:outputLabel for="vertical" value="Vertical:" />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="vertical" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="financiera" />
					</p:selectOneMenu>
					<br />
					<p:outputLabel for="cargo" value="Cargo:" />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="cargo"  effect="fold" editable="true">
						<f:selectItem itemLabel="vendedor" />
					</p:selectOneMenu>
					<br />
					<br />
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha Nacimiento" />
					&nbsp;
					<p:inputText placeholder="Direccion" />
					<br />
					<br />
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha de contrato" /> &nbsp;
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha de ingreso" />
					<br />
					<br />
					<p:inputText placeholder="Nombre P.C" />
					&nbsp;
					<p:inputText placeholder="Parentesco P.C" />
					<br />
					<br />
					<p:inputText placeholder="Telefono P.C" />
					<br />
					<br />
					<p:commandButton value="Guardar" class="boton Guardar"
						icon="ui-icon-disk" />
					<p:commandButton value="Borrar" class="boton Borrar"
						icon="ui-icon-alert" />
					<p:commandButton value="Cancelar" class="boton Cancelar1"
						icon="ui-icon-closethick" />
						</h:form>
				</p:dialog>
				<!-- Formulario editar -->
				<p:dialog header="Editar" widgetVar="dlg2" modal="true">
				<h:form class="formUsuarios">
					<p:inputText placeholder="Nombres" />
					&nbsp;
					<p:inputText placeholder="Apellidos" />
					<br />
					<p:outputLabel for="rol2" value="Rol:" />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="rol2" value="" effect="fold" editable="true">
						<f:selectItem itemLabel="vendedor" />
					</p:selectOneMenu>
					<br />
					<p:outputLabel for="vertical2" value="Vertical:" />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="vertical2" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="financiera" />
					</p:selectOneMenu>
					<br />
					<p:outputLabel for="cargo" value="Cargo:" />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="cargo"  effect="fold" editable="true">
						<f:selectItem itemLabel="vendedor" />
					</p:selectOneMenu>
					<br />
					<br />
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha Nacimiento" />
					&nbsp;
					<p:inputText placeholder="Direccion" />
					<br />
					<br />
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha de contrato" /> &nbsp;
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha de ingreso" />
					<br />
					<br />
					<p:inputText placeholder="Nombre P.C" />
					&nbsp;
					<p:inputText placeholder="Parentesco P.C" />
					<br />
					<br />
					<p:inputText placeholder="Telefono P.C" />
					<br />
					<br />
					<p:commandButton value="Actualizar" class="boton Actualizar"
						icon="ui-icon-disk" />
					<p:commandButton value="Cancelar" class="boton CancelarEditar"
						icon="ui-icon-closethick" />
						</h:form>
				</p:dialog>
				<!-- Ventana borrar-->
				<p:dialog header="Atencion!" widgetVar="dlg1" modal="true"
					height="100">
					<h:outputText
						value="Estas apunto de borrar un usuario, estas seguro?" />
					<br />
					<br />
					<p:commandButton value="Si, borrar" class="boton" id="siBorrar"
						icon="ui-icon-trash" />
					<p:commandButton value="Cancelar" class="boton" id="Cancelar3"
						icon="ui-icon-closethick" />
				</p:dialog>
				<br />
				<p:dataTable var="usuario" class="tabla" value="#{usuarioController.usuarios}" rows="10"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink}
				{PreviousPageLink} {PageLinks}
				{NextPageLink} {LastPageLink}
				{RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
					<p:column headerText="Codigo">
						<h:outputText value="#{usuario.codigoUsuario}"/>
					</p:column>
					<p:column headerText="Nombres">
						<h:outputText value="#{usuario.nombres}"/>
					</p:column>
					<p:column headerText="Apellidos" >
						<h:outputText value="#{usuario.apellidos}" />
					</p:column>
					<p:column headerText="Edad">
						<h:outputText value="#{usuario.edad}"/>
					</p:column>
					<p:column headerText="Direccion">
						<h:outputText value="#{usuario.direccion}"/>
					</p:column>
					<p:column headerText="Vertical">
						<h:outputText value="#{usuario.codigoVertical}"/>
					</p:column>
					<p:column headerText="Fecha de contrato">
						<h:outputText value="#{usuario.fechaContrato}"/>
					</p:column>
					<p:column headerText="Fecha de ingreso">
						<h:outputText value="#{usuario.fechaIngreso}"/>
					</p:column>
					<p:column headerText="Nombre PC">
						<h:outputText value="#{usuario.nombrePC}"/>
					</p:column>
					<p:column headerText="Parentesco PC">
						<h:outputText value="#{usuario.parentescoPC}"/>
					</p:column>
					<p:column headerText="Telefono PC">
						<h:outputText value="#{usuario.telefonoPC}"/>
					</p:column>
				</p:dataTable>
			</p:panel>
		</p:panel>
	</div>
</body>

</html>