* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.formNuevoCaptura {
	height: 505px;
}

.emptyBox {
	
}

.formNuevoVertical {
	height: 100px;
	width: 356px;
}

.panelNuevoProyecto {
	width: 380px !important;
	height: 154px !important;
}

.formNuevoRequerimiento {
	height: 140px;
	width: 364px;
}
.formUsuarios{
	height: 431px;
}
.formRol {
	height: 109px;
	width: 353px;
}

.Guardar {
	height: 50px !important;
	background: #5CB85C !important;
}

.Actualizar {
	height: 50px !important;
	background: #5CB85C !important;
	right: 195px;
}

.Borrar {
	right: 150px;
	background: #F3AB4C !important;
	height: 50px !important;
}

.Cancelar1 {
	height: 50px !important;
	background-color: #e74c3c !important;
	position: relative !important;
	right: 4%;
}

.formCliente {
	height: 260px;
}

.formProyectos {
	height: 149px;
	width: 297px;
}

.Borrar1 {
	background: #F3AB4C !important;
	height: 50px !important;
	right: 121px;
}

.CancelarEditar1 {
	height: 50px !important;
	background-color: #e74c3c !important;
	position: relative !important;
	right: 52px;
}

.CancelarEditar {
	height: 50px !important;
	background-color: #e74c3c !important;
	position: relative !important;
	right: 91px;
}

.Actualizar1 {
	height: 50px !important;
	background: #5CB85C !important;
	right: 195px;
	right: 167px;
}

#Cancelar3 {
	right: 60px;
	height: 50px !important;
	background: #5BC0DE;
}

#siBorrar {
	right: 170px;
	height: 50px !important;
	background: #D9534F;
}

.salir {
	top: 5px;
	Right: 5px;
	position: absolute;
	background: #2980b9 !important;
}

.logo {
	width: 80px;
	margin-left: -20px;
}

.tabla {
	position: absolute;
	width: 98% !important;
	top: 105px;
}

.ui-button {
	position: absolute !important;
}

.captura {
	height: 60px;
	width: 60px;
}

.boton {
	height: 60px;
}

#Nuevo {
	float: right;
	position: relative !important;
	right: 13.5%;
	background-color: #2ecc71 !important;
}

#Editar {
	background-color: #3498db !important;
	float: right;
	position: relative !important;
	right: -11px;
}

#Borrar {
	background-color: #e74c3c !important;
	float: right;
	right: 5px;
}

}
.header {
	height: 70px;
	width: 100%;
	padding: 5px 10px;
	background: #D2D7D3 !important;
	border-radius: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	border: 1px solid #2980b9;
	background: #2980b9 !important;
	font-weight: normal;
	color: #ffffff;
}

.panel {
	height: 90% !important;
	width: 84%;
	float: right;
	position: absolute !important;
	top: 10px;
	right: 5px;
}

#cliente {
	position: absolute;
}

.banner {
	height: 100% !important;
	position: absolute;
	width: 100%;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	background: #2980b9;
	font-weight: normal;
	color: #ffffff;
}

.fechafin {
	margin-left: 2px;
}

#buscar {
	height: 28px;
	width: 100px;
	background: #438cdb !important;
	right: 38%;
}

#buscarMGeneral {
	height: 28px;
	width: 100px;
	background: #438cdb !important;
	right: 59%;
}