<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Captura</title>
	<h:outputStylesheet library="css" name="styles.css" />
</h:head>

<body>
	<p:panel class="header">
		<h:graphicImage library="img" name="logo.png" class="logo" />
		<p:commandButton value="Salir" class="boton salir"
			icon="ui-icon-extlink" />
	</p:panel>
	<div class="contenedor">
		<p:panel class="banner">
			<h:form>
				<p:growl id="messages" showDetail="false" />
				<p:panelMenu style="width:180px">
					<p:submenu label="Diligenciar">
						<p:menuitem value="Captura" icon="ui-icon-clock" />
					</p:submenu>
					<p:submenu label="Gestion">
						<p:menuitem value="Usuarios" ajax="false" icon="ui-icon-person"
							url="../Usuarios/Usuarios.jsf" />
						<p:menuitem value="Vertical" ajax="false"
							icon="ui-icon-arrowthick-2-n-s"
							url="../Verticales/Verticales.jsf" />
						<p:menuitem value="Proyectos" ajax="false" icon="ui-icon-suitcase"
							url="../Proyectos/Proyectos.jsf" />
						<p:menuitem value="Requerimientos" ajax="false"
							icon="ui-icon-circle-check"
							url="../Requerimientos/Requerimientos.jsf" />
						<p:menuitem value="Cliente" ajax="false" icon="ui-icon-contact"
							url="../Clientes/Cliente.jsf" />
							<p:menuitem value="Rol" ajax="false" icon="ui-icon-tag"
							url="../Rol/Rol.jsf" />
					</p:submenu>
					<p:separator />
					<p:submenu label="Consulta">
						<p:submenu label="Matriz" icon="ui-icon-script">

							<p:menuitem value="General" url="../Matriz/MatrizGeneral.jsf"
								icon="ui-icon-zoomout" />
							<p:menuitem value="Detalle" url="../Matriz/MatrizDetalle.jsf"
								icon="ui-icon-zoomin" />

						</p:submenu>
					</p:submenu>
				</p:panelMenu>
			</h:form>
			<p:panel class="panel" header="Captura" style="margin-bottom:20px">
				<!-- Contenido dentro del panel -->
				<p:commandButton value="Nuevo" class="boton" id="Nuevo"
					icon="ui-icon-plus" onclick="PF('dlg3').show();" />
				<p:commandButton value="Editar" class="boton" id="Editar"
					icon="ui-icon-pencil" onclick="PF('dlg2').show();" />
				<p:commandButton value="Borrar" class="boton" id="Borrar"
					icon="ui-icon-closethick" onclick="PF('dlg1').show();" />
				<p:inputText style="margin-right:10px" class="buscar"
					placeholder="Buscar.." />
				<!-- Elementos Modal -->
				<!-- Formulario Nuevo -->
				<p:dialog header="Nuevo" widgetVar="dlg3" modal="true">
					<h:form class="formNuevoCaptura">
					<p:inputNumber placeholder="Duracion" />
					<br />
					<p:outputLabel for="cliente" value="Cliente:    " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="cliente" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="Bancolombia" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<br />
					<p:outputLabel for="proyecto" value="Proyecto:    " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="proyecto" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="nproyecto" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<p:outputLabel for="requerimiento" value="Requerimiento: " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="requerimiento" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="nrequerimiento" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<h3>Observaciones</h3>
					<p:inputTextarea rows="6" cols="33" />
					<br />
					<p:outputLabel for="colaborador" value="Colaborador: " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="colaborador" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="ncolaborador" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<br />
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha Actividad" />
 &nbsp;
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha Registro Actividad" />
					<br />
					<br />
					<p:commandButton value="Guardar" class="boton Guardar"
						icon="ui-icon-disk" />
					<p:commandButton value="Borrar" class="boton Borrar"
						icon="ui-icon-alert" />
					<p:commandButton value="Cancelar" class="boton Cancelar1"
						icon="ui-icon-closethick" />
						</h:form>
				</p:dialog>
				<!-- Formulario editar -->
				<p:dialog header="Editar" widgetVar="dlg2" modal="true">
					<h:form class="formNuevoCaptura">
					<p:inputNumber placeholder="Duracion" />
					<br />
					<p:outputLabel for="cliente2" value="Cliente:    " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="cliente2" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="Bancolombia" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<br />
					<p:outputLabel for="proyecto2" value="Proyecto:    " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="proyecto2" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="nproyecto" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<p:outputLabel for="requerimiento2" value="Requerimiento: " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="requerimiento2" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="nrequerimiento" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<h3>Observaciones</h3>
					<p:inputTextarea rows="6" cols="33" />
					<br />
					<p:outputLabel for="colaborador2" value="Colaborador: " />
					<div class="emptyBox"></div>
					<p:selectOneMenu id="colaborador2" value="" effect="fold"
						editable="true">
						<f:selectItem itemLabel="ncolaborador" itemValue="" />
						<f:selectItems value="" />
					</p:selectOneMenu>
					<br />
					<br />
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha Actividad" />
 &nbsp;
					<p:calendar value="#{calendarView.date9}" pattern="dd-MM-yyyy"
						mask="true" placeholder="Fecha Registro Actividad" />
					<br />
					<br />
					<p:commandButton value="Actualizar" class="boton Actualizar"
						icon="ui-icon-disk" />
					<p:commandButton value="Cancelar" class="boton CancelarEditar"
						icon="ui-icon-closethick" />
						</h:form>
				</p:dialog>
				<!-- Ventana borrar-->
				<p:dialog header="Atencion!" widgetVar="dlg1" modal="true"
					height="100">
					<h:outputText
						value="Estas apunto de borrar una captura, estas seguro?" />
					<br />
					<br />
					<p:commandButton value="Si, borrar" class="boton" id="siBorrar"
						icon="ui-icon-trash" />
					<p:commandButton value="Cancelar" class="boton" id="Cancelar3"
						icon="ui-icon-closethick" />
				</p:dialog>
				<br />
				<p:dataTable var="usuario" class="tabla" value="#{capturaController.capturas}" rows="10"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink}
				{PreviousPageLink} {PageLinks}
				{NextPageLink} {LastPageLink}
				{RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
					<p:column headerText="Duracion">
						<h:outputText value="#{captura.duracion}"/>
					</p:column>
					<p:column headerText="Cliente">
						<h:outputText value="nombres cliente"/>
					</p:column>
					<p:column headerText="Requerimiento">
						<h:outputText value="requerimiento"/>
					</p:column>
					<p:column headerText="Observaciones">
						<h:outputText value="observaciones"/>
					</p:column>
					<p:column headerText="Nombres Colaborador">
						<h:outputText value="colaborador"/>
					</p:column>
					<p:column headerText="Apellidos Colaborador">
						<h:outputText value="colaborador"/>
					</p:column>
					<p:column headerText="Fecha Actividad">
						<h:outputText value="fecha actividad"/>
					</p:column>
					<p:column headerText="Fecha Registro Actividad">
						<h:outputText value="fecha reg actividad"/>
					</p:column>
				</p:dataTable>
			</p:panel>
		</p:panel>
	</div>
</body>

</html>
